* {
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    overflow: hidden;
    background-image: linear-gradient(to right, #1C004C, #310086);
}

li {
    list-style: none;
}

/* start bulma pageloader */
#particles-js {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.pageloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #ededed;
    z-index: 999998;
    transition: -webkit-transform .35s ease-out;
    -webkit-transition: -webkit-transform .35s ease-out;
    transition: transform .35s ease-out;
    transition: transform .35s ease-out, -webkit-transform .35s ease-out;
    transition: transform .35s ease-out, -webkit-transform .35s ease-out;
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    will-change: transform
}

.pageloader.is-active {
    -webkit-transform: translateX(0);
    transform: translateX(0)
}

.pageloader.is-theme {
    background-image: -webkit-gradient(linear, left top, left bottom, from(#22005b), to(#161a31)) !important;
    background-image: linear-gradient(to bottom, #22005b 0%, #161a31 100%) !important
}

.pageloader::after,
.pageloader::before {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    border-radius: 100%;
    content: "";
    z-index: 999999
}

.pageloader::after {
    margin-top: -100px;
    margin-left: -100px;
    width: 200px;
    height: 200px;
    background-color: rgba(255, 255, 255, .5);
    border: 3px solid rgba(255, 255, 255, .75);
    -webkit-animation: page-loader-inner 1.5s infinite ease-out;
    animation: page-loader-inner 1.5s infinite ease-out
}

.pageloader::before {
    margin-top: -30px;
    margin-left: -30px;
    width: 60px;
    height: 60px;
    background-color: #fff;
    -webkit-animation: page-loader-outer 1.5s infinite ease-in;
    animation: page-loader-outer 1.5s infinite ease-in
}

@-webkit-keyframes page-loader-inner {

    0%,
    40% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@keyframes page-loader-inner {

    0%,
    40% {
        -webkit-transform: scale(0);
        transform: scale(0)
    }

    100% {
        -webkit-transform: scale(1);
        transform: scale(1);
        opacity: 0
    }
}

@-webkit-keyframes page-loader-outer {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100%,
    40% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

@keyframes page-loader-outer {
    0% {
        -webkit-transform: scale(1);
        transform: scale(1)
    }

    100%,
    40% {
        -webkit-transform: scale(0);
        transform: scale(0);
        opacity: 0
    }
}

.infraloader {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #22005b;
    z-index: -1;
    opacity: 0;
    -webkit-transition: opacity .35s;
    transition: opacity .35s
}

.infraloader.is-active {
    opacity: 1;
    z-index: 999997
}

/* end bulma pageloader */

/* strat navbar */
#navbar {
    background-image: linear-gradient(to right, #3b00a0, #34008d);
    position: fixed;
    height: 80px;
    top: -80px;
    width: 100%;
    transition: top 300ms;
}

.navbar .navbar-brand .navbar-item .image img {
    animation: logo 5000ms linear infinite;
}

.navbar ul {
    margin-bottom: 15px;
}

.navbar ul:not(:first-child) {
    display: none;
}

@keyframes logo {
    to {
        transform: rotate(360deg);
    }
}

.navbar .navbar-menu .navbar-item .buttons button {
    border: 0;
    padding: 26px 45px;
    background-color: inherit;
}

.navbar .navbar-menu .navbar-item .buttons button::before {
    content: "";
    background-image: linear-gradient(to right, #7F00FF, #3f00fc);
    border-radius: 5px;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    transform: skewX(-23deg);
}

@media (max-width: 1025px) {
    .navbar {
        width: 100%;
        margin-bottom: 100px;
    }

    .navbar .links {
        position: relative;
    }

    .navbar .links .burger-icon .icon span:nth-child(1) {
        width: 100%;
    }

    .navbar .links .burger-icon .icon span:nth-child(2) {
        width: 60%;
        transition: all 300ms;
    }

    .navbar .links .burger-icon .icon:hover span:nth-child(2) {
        width: 100%;
        cursor: pointer;
    }

    .navbar .links .burger-icon .icon span:nth-child(3) {
        width: 100%;
    }

    .links .navbar-item {
        width: 8%;
        display: flex;
        justify-content: center;
        position: relative;
        left: 80%;
        justify-content: center;

    }

    .navbar .links .burger-icon .icon {
        width: 30px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        position: relative;
        right: 30px;
    }

    .navbar .links .burger-icon .icon span {
        background-color: white;
        margin-bottom: 5px;
        height: 2px;
    }

    .navbar .links .burger-icon ul {
        list-style: none;
        z-index: 1;
        border-radius: 3px;
        background-color: #34008d;
    }

    .navbar .links .burger-icon ul::before {
        content: "";
        border-width: 10px;
        border-style: solid;
        border-color: transparent transparent #00d181 transparent;
        position: absolute;
        right: 5px;
        top: 17px;
    }

    .navbar .links:hover ul {
        display: block;
        cursor: pointer;
    }

    .navbar .links .burger-icon ul li {
        display: block;
        position: relative;
        right: 70px;
    }

    .navbar .links .burger-icon ul li a {
        display: block;
        padding: 7px;
        text-decoration: none;
        color: white;
        transition: all 500ms;
    }

    .navbar .links .burger-icon .buttons button {
        border: 0;
        padding: 26px 45px;
        background-image: linear-gradient(to right, #413ef5, #5168ff);
        border-radius: 5px;
    }

    .navbar .navbar-brand {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
    }
}

/* end-navbar */
/* start hero */
.hero {
    margin-top: -70px;
}

.hero .columns .column {
    z-index: 1;
}

.hero .columns .column .title {
    font-size: 60px;
    letter-spacing: .1px;
}

@media (max-width: 1150px) {
    .hero .columns .column:nth-child(2) {
        display: none;
    }

    .hero .columns .column:nth-child(1) {
        text-align: center;
        width: 100%;
        display: block;
    }

    .hero .columns .column:nth-child(1) .buttons {
        text-align: center;
        width: 100%;
        display: block;
    }
}

/* end hero */
/* start Accept */
.accept .section .buttons-2 button img {
    width: 25px;
    position: absolute;
    left: 19px;
    margin: 0 auto;
    text-align: center;
}

.accept .section .buttons-2 button::before {
    content: "";
    border: 0;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: shadow 1500ms infinite;
}

@keyframes shadow {
    to {
        box-shadow: 0 0 1px 25px #00ff9d;
        opacity: 0;
    }
}

/* end Accept */
/* start decentraliz */
.decentraliz .section .columns .column:nth-child(1) {
    display: flex;
    align-items: center;
}

.decentraliz .section .columns:nth-child(3) .column:nth-child(1) {
    display: block;
}

.decentraliz .section .columns:nth-child(3) .column:nth-child(2) {
    display: flex;
    align-items: center;
}

@media (max-width: 1025px) {
    .decentraliz .section .columns {
        margin-top: 50px;
        margin-bottom: 50px;
    }

    #karem-1 {
        display: none;
    }

    #karem-2 {
        display: none;
    }

    #karem-3 {
        display: none;
    }

    .decentraliz .section .columns .column {
        text-align: center;
        width: 100%;
    }

    .decentraliz .section .columns .column hr {
        margin: 30px auto;
    }
}


@media (max-width: 768px) {
    #karem-1 {
        display: block;
    }

    #karem-2 {
        display: block;
    }

    #karem-3 {
        display: block;
    }

    .decentraliz .section .columns .column {
        text-align: center;
        width: 100%;
    }

    .decentraliz .section .columns .column hr {
        margin: 30px auto;
    }
}

/* end decentraliz */
/* strar ico */
.ico .section .in-tabs .columns .column .sentence .icon-text .icon {
    position: relative;
}

.ico .section .in-tabs .columns .column .sentence .icon-text .icon i {
    position: absolute;
    top: 26px;
    right: 10px;
}

.ico .section .in-tabs .columns .column {
    border-radius: 4px;
}

.ico .section .in-tabs .columns .column .timer p {
    margin: auto;
}

.progress {
    margin: 40px auto;
    width: 80%;
}

.tabs {
    overflow: hidden;
    width: 50%;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .tabs {
        width: 80%;
    }
}

.tabs button {
    background-color: inherit;
    color: white;
    font-weight: 700;
}

#Ico {
    visibility: visible;
}

#Token,
#Profit,
#bounty {
    display: none;
}

#icoLink {
    color: #02F197;
}

/* end ico */
/* strat tracks */
.tracking .section .columns .column:nth-child(1) {
    margin: auto 0;
}

@media (max-width: 1025px) {
    .tracking .section .columns .column:nth-child(1) {
        width: 100%;
        text-align: center;
    }

    .tracking .section .columns .column:nth-child(1) hr {
        margin: 30px auto;
    }

    .tracking .section .columns .column:nth-child(2) {
        display: none;
    }
}

@media (max-width: 768px) {
    .tracking .section .columns .column:nth-child(2) {
        display: block;
    }
}

/* end tracks */
/* start our-team */
.our-team .section .columns .column .card {
    border: 2px solid #003f9e;
    transition: 400ms all;
}

.our-team .section .columns .column .card:hover {
    border: 2px solid #0066ff;
    box-shadow: 0 0 10px #002d71;
}

.our-team .section .columns .column .card .image img {
    border-width: 5px;
    border-style: solid;
    border-color: rgba(0, 63, 158, .2);
    border-radius: 50%;
    padding: 10px;
    width: 190px !important;
}

.our-team .section .columns .column .card .image {
    position: relative;
}

.our-team .section .columns .column .card .image:nth-child(2) {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all 400ms linear;
}

.our-team .section .columns .column .card:hover .image:nth-child(2) {
    opacity: 1;
}

/* end our-team  */
/* start faq */
.accordion {
    margin: 20px auto;
    max-width: 500px;
}

.accordion .accordion-toggle {
    display: none;
}

.accordion .accordion-option {
    position: relative;
    margin-bottom: 25px;
    background: rgba(17, 149, 247, .08);
    border: 1px solid rgba(0, 83, 251, .5);
    box-shadow: 0 2px 3px 0 #161a31;
    border-radius: 4px;
}

.accordion .accordion-option .accordion-title,
.accordion .accordion-option .accordion-content {
    backface-visibility: hidden;
    transform: translateZ(0);
    transition: all .4s;
}

.accordion .accordion-option .accordion-title {
    padding: 25px;
    display: block;
    color: #fff;
    font-weight: 500;
    font-size: 18px;
    cursor: pointer;
}

.accordion .accordion-option .accordion-title:after,
.accordion .accordion-option .accordion-title:before {
    content: "";
    position: absolute;
    right: 31px;
    top: 31px;
    width: 2px;
    height: 18px;
    background: #7f00ff;
    background: linear-gradient(to right, #7F00FF, #3f00fc) !important;
    transition: all .2s;
}

.accordion .accordion-option .accordion-title:after {
    transform: rotate(90deg)
}

.accordion .accordion-option .accordion-content {
    max-height: 0;
    overflow: hidden
}

.accordion .accordion-option .accordion-content p {
    margin: 0;
    padding: 12.5px 25px 25px;
    font-size: 18px;
    line-height: 1.5;
    color: rgba(94, 147, 255, .9)
}

.accordion .accordion-option .accordion-toggle:checked+.accordion-title+.accordion-content {
    max-height: 500px
}

.accordion .accordion-option .accordion-toggle:checked+.accordion-title:before {
    -webkit-transform: rotate(90deg) !important;
    transform: rotate(90deg) !important
}

/* end faq */
/* start form */
.form .section .columns .column .buttons button img {
    width: 25px;
    position: absolute;
    left: 18px;
    margin: 0 auto;
    text-align: center;
}

.form .section .columns .column .buttons button::before {
    content: "";
    border: 0;
    opacity: 1;
    cursor: pointer;
    position: absolute;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    animation: shadow 1500ms infinite;
}

@keyframes shadow {
    to {
        box-shadow: 0 0 1px 25px #00ff9d;
        opacity: 0;
    }
}

.form .section form input {
    background-color: inherit;
    border: 0;
    width: 49%;
    color: white;
    display: inline-block;
    padding: 20px 20px 20px 10px;
    margin: 10px;
    border-style: solid;
    border-color: transparent transparent rgba(255, 255, 255, .2) transparent;
    border-width: 2px;
    transition: 200ms all;
    font-size: 18px;
    outline: 0;
}

.form .section form input::placeholder {
    color: white;
}

.form .section form input:focus {
    outline: 0;
    border-style: solid;
    border-color: transparent transparent #3f00fc transparent;
    border-width: 2px;
    padding-bottom: 50px;
    padding-left: 0;
}

.form .section form input:focus::placeholder {
    color: #3f00fc;
}

@media (max-width: 1050px) {
    .form .section form input {
        width: 80%;
    }
}


/* end form */
/* strat fotter */
.fotter .section .header .image img {
    max-width: 70px;
    margin: 0 auto;
    animation: logo 5000ms linear infinite;
}

.fotter .section {
    margin-bottom: -25px;
}

/* end fotter */